@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap');

@font-face {
    font-family: Collage;
    src: url(assets/fonts/RetromaVibes.ttf);
}

:root {
    --white: #F2DEC4;
    --black: #1c1917;
    --aqua: #2EA6A6;
    --offAqua: #278C82;
    --lightAqua: #60A6A6;
    --green: #D5D9BA;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: var(--black);
    background-color: var(--white);    
    font-family: 'Poppins', sans-serif;
    background-image: url("https://www.transparenttextures.com/patterns/dark-denim.png");
}

h2 {
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
}

h3 {
    font-size: 30px;
}

.initial {
    height: calc(100vh - 3rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.initial .title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.initial h1 {
    font-family: Collage;
    font-size: 200px;
    line-height: 100px;
    margin: 0;
}

.initial span {
    font-family: 'Bebas Neue', sans-serif;
    writing-mode: vertical-lr;
    font-size: 95px;
    line-height: 50px;
}

.initial h2 {
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
    line-height: 30px;
    font-size: 50px;
}

.initial h3 {
    margin: 0;
    line-height: 20px;
}

.initial header {
    display: flex;
    font-size: 20px;
    align-items: flex-start;
    justify-content: space-between;
}

nav {
    position: sticky;
    margin: 3rem 0 0 0;
    height: 70px;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
    color: var(--white);
}

nav ul {
    margin: 0;
    margin-right: 3rem;
    z-index: 999;
    padding: 0;
    list-style: none;
    justify-content: center;
    align-items: center;
    display: flex;
}

nav li+li {
    margin-left: 3rem;
}

nav .logo {
    margin-left: 3rem;
    z-index: 999;
    height: 40px;
}

nav a {
    text-decoration: none;
    color: var(--white);
}

.about {
    display: flex;
}

.about .column1 {
    width: 40%;
    padding: 1rem;
}

.about .column2 {
    width: 60%;
    padding: 1rem;
}

.about h1 {
    font-size: 70px;
    font-family: 'Bebas Neue', sans-serif;
    border-bottom: solid var(--black) 3px;
    margin: 2rem 0;
}

.about li {
    list-style: none;
    margin-bottom: 2rem;
}

.about ul {
    display: flex;
    padding: 0;
    font-size: 1.5rem;
}

.about a {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.about .skills {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
}

.about .skills img {
    height: 30px;
    width: auto;
    padding-right: 1rem;
}

.skills li {
    display: flex;
}

.skills .icon {
    width: 46px;
    display: flex;
    justify-content: center;
}

.exp {
    display: flex;
}

.exp h2,
h3 {
    font-family: 'Bebas Neue', sans-serif;
}

.exp div:nth-child(2) {
    border-left: solid var(--black) 3px;
}

.exp .column {
    width: 50%;
    padding: 2rem 5rem;
}

.projects {
    padding: 3rem;
    font-family: 'Poppins', sans-serif;
}

.projects section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.projects .images {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.projects img {
    transition: 0.2s;
    -webkit-box-shadow: 10px 10px 33px -17px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 10px 10px 33px -17px rgba(0, 0, 0, 0.44);
    box-shadow: 10px 10px 33px -17px rgba(0, 0, 0, 0.44);
}

.projects img:hover {
    -webkit-box-shadow: 10px 10px 43px -8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 10px 10px 43px -8px rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 43px -8px rgba(0, 0, 0, 0.3);
    transform: scale(1.01);
}

.projects h1 {
    font-family: Collage;
    font-size: 7rem;
    margin: 2rem;
}